# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# Environments
.venv/
env/
venv/
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs & outputs
logs/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build & CI
*.coverage
htmlcov/
junit.xml